
body{
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    padding-top: 50%;

}

#inicio{
    height: 650px;
    background-image: url(https://github.com/ironhack-labs/lab-css-recipes-clone/blob/master/apple-pie/images/apple-pie.jpg?raw=true);
    position: center center;
    background-repeat: no-repeat;
    size-adjust: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    padding: 3rem 21rem 3rem 21rem;
    font-size: 1.5rem;
}
.cantidad{
    height: 70px;
    padding-left: 35rem ;
}


.tiempo{
    height: 80px;
    padding-left: 35rem ;
    padding-top: 5rem;
}

h4{
    padding-top: 2rem;
    padding-left: 5rem;
}

.listado{
    text-align: left;
    padding-right: 25rem;
    text-decoration: none;
    padding-left: 5rem;
    list-style: none;
}

.ingredientes{
    padding-left: 5rem;
    list-style: none;
}